<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    
    <%= link_to image_tag('Pulse.png'), home_path, class: "nav-img" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
      
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link active fw-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", about_path, class: "nav-link fw-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link fw-bold" %>
        </li>
        
      </ul>
      <ul class="navbar-nav">
      <li class="nav-item me-2">
        <%= link_to about_path, class: "nav-link fw-bold" do %>
          <i class="fa-solid fa-bell"></i>
        <% end %>
      </li>
      <li class="nav-item me-2">
        <%= link_to "Profile", company_profile_path, class: "nav-link fw-bold" %>
      </li>
      <% if company_signed_in? %>
        <li class="nav-item me-2">
          <%= button_to "Logout", destroy_company_session_path, method: :delete, class: "nav-link fw-bold" %>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign Up", new_company_registration_path, class: "nav-link fw-bold" %>
      </li>

      <li class="nav-item">
        <%= link_to "Log In", new_company_session_path, class: "nav-link fw-bold" %>
      </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>