<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="form-wt-img col col-lg-9 col-md-9">
  <div class="mb-3 field col-lg-11">
    <% form.label :title %>
    <%= form.text_field :title, placeholder: "Title", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :name %>
    <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :address %>
    <%= form.text_field :address, placeholder: "Address", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :city %>
    <%= form.text_field :city, placeholder: "City", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :material_type %>
    <%= form.text_field :material_type, placeholder: "Type of Material", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :phone_number %>
    <%= form.text_field :phone_number, placeholder: "Phone Number", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :date %>
    <%= form.date_field :date, placeholder: "Date", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-11">
    <% form.label :time_slot %>
    <%= form.time_field :time_slot, placeholder: "Time Slot", class: "form-control bg-light border fw-bold" %>
  </div>

  <div class="mb-3 field col-lg-12">
    <% form.label :description %>
    <%= form.text_area :description, placeholder: "Description", class: "form-control bg-light border fw-bold" %>
  </div>
</div>
<div class="form-with-img col col-lg-2">
  
  <%= form.file_field :user_post_image, class: "form-control post_img bg-light border m-2 d-none" %>    
  <%= form.label :user_post_image, "Input Image", class: "w-100 h-25 d-flex align-items-center justify-content-center bg-light border-dark fw-bold" %>
  
  <img src="" />
  
</div>

</div>

  

  <div>
    <%= form.submit @post.id ? "Update Post" : "Create Post", class: "btn button-green fw-bold" %>
  </div>
<% end %>
