<div id="<%= dom_id post %>">
  <h4>
    <strong>Name:</strong>
    <%= post.name %>
  </h4>

  <h4>
    <strong>Title:</strong>
    <%= post.title %>
  </h4>

  <h4>
    <strong>City:</strong>
    <%= post.city %>
  </h4>

  <h4>
    <strong>Address:</strong>
    <%= post.address %>
  </h4>

  <h4>
    <strong>Material type:</strong>
    <%= post.material_type %>
  </h4>

  <h4>
    <strong>Description:</strong>
    <%= post.description %>
  </h4>

  <h4>
    <strong>Date:</strong>
    <%= post.date %>
  </h4>

  <h4>
    <strong>Time slot:</strong>
    <%= post.time_slot %>
  </h4>


</div>
