<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>Order Notification for, <%= @flag ? @user.name : @company.company_name  %> </h1>
    <% if @flag %>
        <p>
            You have request for <%= @post.title %> on <%= @post.date %> at <%= @post.time_slot %> from <%= @company.company_name %>
        </p>
    <% else %>
        <p>
            You have requested an order to <%= @user.name %> on <%= @post.date %> at <%= @post.time_slot %> for <%= @post.title %>
        </p>
    <% end %>
    <p>
      To login to the site, just follow this link: <%= @url %>, <%= link_to "Visit", root_url("http://localhost:3000") %>.
    </p>
    <p>Thanks You and have a great day!</p>
  </body>
</html>
